@font-face {
    font-family: 'e-Ukraine-bold'; /*a name to be used later*/
    src: url('./e-Ukraine/e-Ukraine-Bold.otf');
}

body {
    background-color: rgba(130, 70, 70, 0.93);
    margin: 0;
    padding: 0;
    color: #bac2de;
    font-family: "e-Ukraine-bold", monospace;
    width: 100%;
}
table {
    background-color: var(--background-color);
    border-collapse: separate;
    border-spacing: 2px;
    float: left;
}
.center {
    width: 100%;
}
.week-name {
    padding: 6px;
    background-color: var(--week-name);
    color: var(--week-color-text);
    font-size: 22px;
    font-weight: bold;
    width: 200px;
}
td{
    color: var(--td-color-text);
    border-radius: 2px;
    padding: 4px 8px;
    text-align: center;
    font-size: 14px;
    height: 24px;
}
td.light {
    background-color: var(--light);
}
td.dark {
    background-color: var(--dark);
}
.practice_start {
    font-size: 22px;
    background-color: var(--practice_start);
}
.start {
    color: var(--start-color-text);
    background-color: var(--start);
    font-size: 16px;
    font-weight: bold;
}
.middle {
    min-width: 136px;
}
.end {
    min-width: 36px;
}

